@font-face {
    font-family: 'Kanit-Medium';
    src: url('/static/fonts/Kanit-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Kanit-Medium', sans-serif;
}
